<%- include('../partials/header') %>
<a class="active" href="/showcases">All Showcases</a>
<h1>SHOWCASE DETAILS</h1>
<div><strong>HEADLINER: </strong><%= showcase.headliner %></div>

<h4>Delete</h4>
<form action = "/showcases/<%= showcase._id %>?_method=DELETE" class = "delete-form" method = "POST">
<button type="submit">X</button>
</form>
<%- include('../partials/footer') %>