<%- include('../partials/header') %>
<a class="active" href="/showcases">All Showcases</a>
<h1>SHOWCASE DETAILS</h1>
<div><strong>HEADLINER: </strong><%= user.showcases.headliner %></div>
<%- include('../partials/footer') %>