body {
  margin: 0;
  height: 20vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main";

}

body > nav {
  grid-area: nav;
  background-color: rgb(144, 7, 7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
 
}
body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}



nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}



table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#bg-image {
  width: 90%;
  min-height: 40em;
  margin: auto;
  padding: 10px;
  border: solid 6px #000;
  border-radius: 50%;
  box-shadow: 12px 12px 7px;
  background-size: cover;
 background-repeat: no-repeat;
 background-color: darkred;
}

#landing-text {
  text-align:center;
  font-family: "Permanent Marker";
  color:darkred;
  border: solid 3px black;
  width: auto;
  padding:3px;
  background-color: rgb(222, 194, 194);

}